#u77-4
{
	font-family: cooper-black-std-n4, sans-serif;
}

#u127
{
	font-family: raleway-n5, sans-serif;
}

#u120
{
	font-family: sail-n4, fantasy;
}

#u124
{
	font-family: lobster-two-n4, cursive;
}

#u90-4,#u105-4,#u143-4,#u123-4,#u145-4
{
	font-family: raleway-n8, sans-serif;
}

#u94-7,#u101-4,#u129-6
{
	font-family: raleway-n3, sans-serif;
}

