.version.index /* version checker */
{
	color: #000011;
	background-color: #9A2159;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1099.7px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 136px;
}

#u453
{
	z-index: 36;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #12A5F4;
	position: fixed;
	top: 0px;
}

#u453-bw
{
	z-index: 36;
}

#u463
{
	z-index: 41;
	width: 60px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: -3px;
	left: 50%;
	margin-left: -480px;
}

#u454-4
{
	z-index: 37;
	width: 439px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -417px;
}

#u466-4
{
	z-index: 42;
	width: 167px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: 313px;
}

#u466-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px 0px 0px 313px;
}

#u466-4.MuseLinkActive p,#u466-4.MuseLinkActive h1
{
	text-align: center;
	font-size: 18px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u96-4
{
	z-index: 17;
	width: 920px;
	min-height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 86px;
	font-size: 72px;
	color: #333333;
	text-align: center;
	font-family: cooper-black-std, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u468
{
	z-index: 21;
	width: 960px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #12A5F4;
	position: relative;
}

#u107-4
{
	z-index: 13;
	width: 920px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333333;
	text-align: justify;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#ppu483-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 74px;
}

#pu483-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u483-4
{
	z-index: 9;
	width: 450px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333333;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u506
{
	z-index: 46;
	width: 169px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 141px;
	margin-top: 40px;
	position: relative;
}

#u494
{
	z-index: 34;
	width: 356px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(51, 51, 51, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(51, 51, 51, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 517px;
}

#pu470-4
{
	width: 0.01px;
	margin-top: 113px;
}

#u470-4
{
	z-index: 22;
	width: 519px;
	min-height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 86px;
	font-size: 72px;
	color: #333333;
	text-align: center;
	font-family: cooper-black-std, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u484
{
	z-index: 31;
	width: 121px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 560px;
}

#u486
{
	z-index: 32;
	width: 118px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 709px;
}

#u488
{
	z-index: 33;
	width: 90px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 848px;
}

#u471
{
	z-index: 26;
	width: 960px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #12A5F4;
	position: relative;
}

#u473-4
{
	z-index: 27;
	width: 920px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #333333;
	text-align: justify;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 65px;
	position: relative;
}

#u163
{
	z-index: 2;
	padding-bottom: 7px;
}

#u163_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u164-6
{
	z-index: 3;
	width: 960px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 100px;
}

#u163-bw
{
	z-index: 2;
	margin-top: 155px;
	height: 55px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

