.version.cookie_consent_demo2 /* version checker */
{
	color: #000004;
	background-color: #74E676;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999999px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u188-4
{
	z-index: 2;
	width: 960px;
	min-height: 62px;
	background-color: transparent;
	color: #3F51B5;
	font-size: 45px;
	text-align: center;
	line-height: 54px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#pu296
{
	width: 0.01px;
	margin-left: -125px;
	margin-top: 44px;
}

#u296
{
	z-index: 90;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u189-4
{
	z-index: 6;
	width: 960px;
	min-height: 46px;
	background-color: transparent;
	color: #E91E63;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u190-80
{
	z-index: 10;
	width: 920px;
	min-height: 933px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 43px;
	position: relative;
}

#u190-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #3F51B5;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-3
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #2A2828;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-7
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #2A2828;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-13
{
	font-size: 18px;
	line-height: 22px;
	color: #3F51B5;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-14
{
	color: #3F51B5;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-33
{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-26,#u190-29,#u190-32
{
	color: #2A2828;
}

#u190-39
{
	font-weight: 700;
}

#u190-57
{
	font-size: 16px;
	line-height: 19px;
	color: #3F51B5;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-8,#u190-10,#u190-16,#u190-17,#u190-19,#u190-20,#u190-22,#u190-23,#u190-25,#u190-34,#u190-36,#u190-37,#u190-41,#u190-43,#u190-44,#u190-48,#u190-50,#u190-52,#u190-54,#u190-55,#u190-58,#u190-63
{
	font-size: 16px;
	line-height: 19px;
	color: #2A2828;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-4,#u190-27,#u190-30,#u190-45,#u190-60
{
	color: #E91E63;
}

#u190-67,#u190-70,#u190-73,#u190-76
{
	color: #2A2828;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

#u190-65,#u190-68,#u190-71,#u190-74
{
	color: #E91E63;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-11,#u190-64,#u190-77
{
	color: #2A2828;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u190-78
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

