#u188-4,#u189-4
{
	font-family: raleway-n7, sans-serif;
}

#u190-67,#u190-70,#u190-73,#u190-76
{
	font-family: raleway-n5, sans-serif;
}

#u190-2,#u190-3,#u190-7,#u190-8,#u190-10,#u190-11,#u190-13,#u190-14,#u190-16,#u190-17,#u190-19,#u190-20,#u190-22,#u190-23,#u190-25,#u190-33,#u190-34,#u190-36,#u190-37,#u190-41,#u190-43,#u190-44,#u190-48,#u190-50,#u190-52,#u190-54,#u190-55,#u190-57,#u190-58,#u190-63,#u190-64,#u190-65,#u190-68,#u190-71,#u190-74,#u190-77,#u190-78
{
	font-family: open-sans-n4, sans-serif;
}

