.version.index /* version checker */
{
	color: #00000E;
	background-color: #1F4FA2;
}

.html
{
	background-color: #FAFAFA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
}

#u287
{
	z-index: 7;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
}

#u287-bw
{
	z-index: 7;
}

#pu118-4
{
	width: 0.01px;
}

#u118-4
{
	z-index: 9;
	width: 960px;
	min-height: 86px;
	background-color: transparent;
	line-height: 86px;
	font-size: 72px;
	color: #444444;
	text-align: center;
	font-family: delius-swash-caps, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u123-4
{
	z-index: 13;
	width: 960px;
	min-height: 52px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u147-6
{
	z-index: 18;
	width: 920px;
	min-height: 42px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	color: #444444;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u151-4
{
	z-index: 24;
	width: 920px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #444444;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u151
{
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u124
{
	z-index: 17;
	width: 169px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 395px;
	margin-top: 53px;
	position: relative;
}

#u242
{
	z-index: 83;
	width: 64px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 448px;
	margin-top: 54px;
	position: relative;
}

#pu152-4
{
	width: 0.01px;
	margin-top: 56px;
}

#u152-4
{
	z-index: 28;
	width: 920px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#animaciones
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu154
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 20px;
}

#u154
{
	z-index: 32;
	width: 64px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u156
{
	z-index: 33;
	width: 70px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u159
{
	z-index: 34;
	width: 64px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u161
{
	z-index: 35;
	width: 103px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u163
{
	z-index: 36;
	width: 110px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u165
{
	z-index: 37;
	width: 61px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u167
{
	z-index: 38;
	width: 54px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u169
{
	z-index: 39;
	width: 71px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 631px;
}

#u171
{
	z-index: 40;
	width: 110px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 717px;
}

#u173
{
	z-index: 41;
	width: 60px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 842px;
}

#pu175
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 21px;
}

#u175
{
	z-index: 42;
	width: 56px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u177
{
	z-index: 43;
	width: 68px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u179
{
	z-index: 44;
	width: 63px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u181
{
	z-index: 45;
	width: 63px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u183
{
	z-index: 46;
	width: 120px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u185
{
	z-index: 47;
	width: 130px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 445px;
}

#u187
{
	z-index: 48;
	width: 130px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u189
{
	z-index: 49;
	width: 150px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 734px;
}

#pu191
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
}

#u191
{
	z-index: 50;
	width: 182px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u193
{
	z-index: 51;
	width: 156px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u195
{
	z-index: 52;
	width: 104px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 368px;
}

#u197
{
	z-index: 53;
	width: 131px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u199
{
	z-index: 54;
	width: 116px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 633px;
}

#u201
{
	z-index: 55;
	width: 59px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 764px;
}

#u203
{
	z-index: 56;
	width: 87px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 838px;
}

#u207-4
{
	z-index: 58;
	width: 920px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 20px;
	margin-top: 45px;
	position: relative;
}

#pu205
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 21px;
}

#u205
{
	z-index: 57;
	width: 87px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u208
{
	z-index: 62;
	width: 182px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u210
{
	z-index: 63;
	width: 130px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u212
{
	z-index: 64;
	width: 103px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 444px;
}

#u214
{
	z-index: 65;
	width: 150px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u216
{
	z-index: 66;
	width: 87px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 726px;
}

#u218-4
{
	z-index: 67;
	width: 920px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 20px;
	margin-top: 45px;
	position: relative;
}

#pu219
{
	width: 0.01px;
	margin-left: 245px;
	margin-top: 21px;
}

#u219
{
	z-index: 71;
	width: 62px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u221
{
	z-index: 72;
	width: 116px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u223
{
	z-index: 73;
	width: 123px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u225
{
	z-index: 74;
	width: 125px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u228-4
{
	z-index: 75;
	width: 920px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 20px;
	margin-top: 45px;
	position: relative;
}

#pu229
{
	width: 0.01px;
	margin-left: 208px;
	margin-top: 21px;
}

#u229
{
	z-index: 79;
	width: 106px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u232
{
	z-index: 80;
	width: 116px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u234
{
	z-index: 81;
	width: 143px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u236
{
	z-index: 82;
	width: 133px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#pu266
{
	width: 0.01px;
	margin-left: 257px;
	margin-top: 91px;
}

#u266
{
	z-index: 8;
	width: 118px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u264
{
	z-index: 99;
	width: 260px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u268
{
	z-index: 100;
	width: 121px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u247
{
	z-index: 85;
	width: 920px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	margin-left: 20px;
	position: relative;
	background: transparent url("../images/pattern-stripes.png") repeat center center;
}

#u257-4
{
	z-index: 86;
	width: 920px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #444444;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-left: 20px;
	margin-top: 99px;
	position: relative;
}

#u152,#u207,#u218,#u228,#u257
{
	font-size: 24px;
}

#u258-9
{
	z-index: 90;
	width: 920px;
	min-height: 68px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	color: #444444;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 26px;
	position: relative;
}

#u258,#u258-4
{
	font-size: 16px;
}

#u259
{
	z-index: 2;
	padding-bottom: 6px;
}

#u259_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u262-4
{
	z-index: 3;
	width: 920px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 120px;
}

#u259-bw
{
	z-index: 2;
	margin-top: 165px;
	height: 56px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

