#u259
{
	border-style: none;
	border-color: transparent;
	background-color: #2098D1;
}

#u259_align_to_page
{
	position: relative;
}

#u262-4
{
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u262
{
	color: #FFFFFF;
}

