.version.index /* version checker */
{
	color: #000016;
	background-color: #1A85E8;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1100px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 17px;
}

#u453
{
	z-index: 25;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #C62E33;
	position: fixed;
	top: 0px;
}

#u453-bw
{
	z-index: 25;
}

#u463
{
	z-index: 30;
	width: 60px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: -3px;
	left: 50%;
	margin-left: -480px;
}

#u303
{
	z-index: 13;
	width: 32px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -57px;
	margin-top: 3px;
	position: relative;
}

#pu454-4
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: 63px;
	margin-top: -35px;
}

#u454-4
{
	z-index: 26;
	width: 363px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	font-family: lancelot, serif;
	font-weight: 400;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -417px;
}

#u454-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px 0px 0px -417px;
}

#u454-4.MuseLinkActive p,#u454-4.MuseLinkActive h1
{
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u466-4
{
	z-index: 31;
	width: 167px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: 313px;
}

#u466-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px 0px 0px 313px;
}

#u466-4.MuseLinkActive p,#u466-4.MuseLinkActive h1
{
	text-align: center;
	font-size: 18px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u96-4
{
	z-index: 20;
	width: 920px;
	min-height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: cooper-black-std, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 75px;
	position: relative;
}

#u468
{
	z-index: 35;
	width: 960px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #C62E33;
	position: relative;
}

#u107-4
{
	z-index: 16;
	width: 920px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
}

#u483-4
{
	z-index: 9;
	width: 450px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#pu287
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 2px;
}

#u287
{
	z-index: 14;
	width: 396px;
	border-width: 3px;
	border-style: solid;
	border-color: #C62E33;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u296
{
	z-index: 24;
	width: 383px;
	height: 202px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 477px;
	background: #FFFFFF url("../images/img2.jpg") no-repeat center center;
}

#pu470-4
{
	width: 0.01px;
	margin-top: 62px;
}

#u470-4
{
	z-index: 36;
	width: 519px;
	min-height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: cooper-black-std, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u484
{
	z-index: 45;
	width: 121px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 560px;
}

#u486
{
	z-index: 46;
	width: 118px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 709px;
}

#u488
{
	z-index: 47;
	width: 90px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 848px;
}

#u471
{
	z-index: 40;
	width: 960px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #C62E33;
	position: relative;
}

#u473-4
{
	z-index: 41;
	width: 920px;
	min-height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 48px;
	position: relative;
}

#u163
{
	z-index: 2;
	padding-bottom: 7px;
}

#u163_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u164-6
{
	z-index: 3;
	width: 960px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 100px;
}

#u163-bw
{
	z-index: 2;
	margin-top: 53px;
	height: 55px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

