#u163
{
	border-style: none;
	border-color: transparent;
	background-color: #C62E33;
}

#u163_align_to_page
{
	position: relative;
}

#u164-6
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

