.version.terminal /* version checker */
{
	color: #000006;
	background-color: #78186A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u184
{
	z-index: 2;
	min-height: 135px;
	background: -webkit-gradient(linear, left center, right center, from(#7E57C2),color-stop(100%, #9575CD));
	background: -webkit-linear-gradient(left,#7E57C2 ,#9575CD 100%);
	background: linear-gradient(to right,#7E57C2 ,#9575CD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF7E57C2, endColorstr=#FF9575CD, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7E57C2', endColorstr='#FF9575CD', GradientType=1)";
	padding-bottom: 365px;
	background-size: 100% auto;
}

#u184_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u174-4
{
	z-index: 13;
	width: 1024px;
	min-height: 43px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	font-family: days-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 99px;
}

#u184-bw
{
	z-index: 2;
	min-height: 135px;
}

#u162
{
	z-index: 3;
	width: 1024px;
	-pie-box-shadow: 0px 0px 8px 2px #999999;
	box-shadow: 0px 0px 8px rgba(51,51,51,0.5),0px 0px 8px rgba(51,51,51,0.5);
	background-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
}

#u162_position_content
{
	padding-bottom: 4px;
}

#u163
{
	z-index: 4;
	width: 1024px;
	background-color: #E3E3E3;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u168
{
	z-index: 9;
	width: 15px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #ED1C24;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u170
{
	z-index: 11;
	width: 15px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 32px;
}

#u169
{
	z-index: 10;
	width: 15px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #8CC63F;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 58px;
}

#u164-4
{
	z-index: 5;
	width: 171px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	line-height: 19px;
	color: #333333;
	font-size: 16px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u171
{
	z-index: 12;
	width: 504px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 7px;
	margin-top: 25px;
	position: relative;
}

#u185-5
{
	z-index: 17;
	width: 340px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 664px;
	margin-top: 270px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -196px;
}

